:root {
  --primary-color: #6c63ff;
  --secondary-color: #cbbcf6;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 24px;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

figcaption {
  font-size: 12px;
  text-align: right;
}

.social-links,
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  text-decoration: none;
}

.flag-image {
  position: relative;
  top: -3px;
  border-radius: 10px;
}

.hero {
  background: var(--secondary-color);
  padding: 160px 20px;
}

.nav-link:hover,
li .active {
  color: var(--primary-color) !important;
  font-weight: 500;
}

.container {
  margin-top: 120px !important;
}

.h1-heading {
  font-size: 96px;
  font-family: "Playfair Display", serif;
}

.h2-heading {
  font-size: 55px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.h4-heading {
  font-size: 45px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.contact-link:hover,
.btn:hover {
  background: #5d50c6 !important;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link:hover {
  text-decoration: underline;
}

.btn {
  background: #6c63ff !important;
  color: white !important;
}

.work-inquiry {
  background: var(--secondary-color);
  border-radius: 10px;
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}

.fa-brands {
  background: #f9f7fe;
  border-radius: 50%;
  padding: 16px;
  margin: 4px 12px;
  font-size: 20px;
  transition: all 100ms ease-in-out;
}

.fa-brands:hover {
  background: var(--primary-color);
  color: white;
}

.about-container h1 {
  font-size: 70px;
}

.about-container p {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

.work-header {
  margin-top: 150px;
}

.work-header h2 {
  font-family: "Playfair Display", serif;
  font-size: 65px;
}

@media (max-width: 780px) {
  .image-container,
  .laptop-image {
    display: none;
  }

  .app-container {
    width: 600px !important;
    padding: 30px !important;
    margin: 0 auto;
  }

  .about-content {
    width: 600px !important;
    padding: 30px !important;
    margin: 0 auto;
  }

  .about-content h1 {
    padding: 0;
  }

  .h1-heading {
    font-size: 64px;
  }

  .h2-heading,
  .work-header h2 {
    font-size: 45px;
  }

  .h4-heading {
    font-size: 35px;
  }

  h1,
  h2,
  h3 {
    padding: 0 30px;
  }
}
